<h1>Hello and welcome!</h1>

<%= text_field_tag :phone, nil, :placeholder => "Type in your phone number to see your wait", :size => 50 %>

<input type="hidden" id="lat"><input type="hidden" id="lng">

<p>Restaurants nearby me:</p>
<div id="map" style="width: 600px; height: 400px; border: 1px solid #333; margin-top: 0.6em;"></div>
<div id="results"></div>

<script>

		var map;	
		var service;
		var infowindow;
		
		var availablePhoneNumbers = ["5743150289"
				];
		var availableNames = [	
						{ "id" : "1",
						  "name" : "Brendan",
						  "phone" : "5743150289"
						}
		];
	
		$("#phone").autocomplete({
					source: availablePhoneNumbers,
					select: function(event, ui){
						for(var i=0; i < availableNames.length; i++){
							if (availableNames[i]["phone"] == ui.item.value){
								window.location.replace("/customer/"+availableNames[i]["id"]);
							}
						}
					}
		});
	
	
		function getCoords(position) {
			// Show a map centered at (, position.coords.longitude).
			$('#lat').val(position.coords.latitude);
			$('#lng').val(position.coords.longitude);
		
			var here = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);

		  map = new google.maps.Map(document.getElementById('map'), {
		      mapTypeId: google.maps.MapTypeId.ROADMAP,
		      center: here,
		      zoom: 15
		    });

		  var request = {
		    location: here,
		    radius: '500',
		    types: ['store']
		  };
		
		  service = new google.maps.places.PlacesService(map);
		  service.search(request, callback);
		
			infowindow = new google.maps.InfoWindow();
		}

		function callback(results, status) {
		  if (status == google.maps.places.PlacesServiceStatus.OK) {
		    for (var i = 0; i < results.length; i++) {
					$('#results').append('<li><img src="'+results[i].icon+'"style="max-width: 30px;"/>'+results[i].name+'</li>');
		    	createMarker(results[i]);
		    }
		}
		
		function createMarker(place) {
		   var placeLoc = place.geometry.location;
       var marker = new google.maps.Marker({
         map: map,
         position: place.geometry.location
       });

       google.maps.event.addListener(marker, 'click', function() {
         infowindow.setContent(place.name);
         infowindow.open(map, this);
       });
		 }
		
	}

	$(document).ready(function(){
		// One-shot position request.
	    navigator.geolocation.getCurrentPosition(getCoords);
	});
	    
	/* Reference to Google API
		https://developers.google.com/maps/documentation/javascript/places
	*/

    
</script>