<h1>FoodEaze</h1>
<img src="http://blogs.villagevoice.com/forkintheroad/rollcall.png" style="max-width: 150px;" />
<p><em>Simplifying food to stomach delivery</em></p>

<% if !current_restaurant %>
	<p>Sign in with</p>
	<%= link_to "Twitter", "/auth/twitter" %>
<% end %>